<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>quote</key>
		<string>“… a man who has taken the first initiation is one who has taken the first step into the spiritual kingdom… Having groped his way through the Hall of Ignorance during many ages, and having gone to school in the Hall of Learning, he is now entering into the university, or the Hall of Wisdom. When he has passed through that school he will graduate with his degree as a Master of Compassion.” (p.10)</string>
		<key>author</key>
		<string>Alice A. Bailey</string>
		<key>title</key>
		<string>Initiation – Human and Solar (1922)</string>
		<key>link</key>
		<string>http://www.biblioteca-ga.info/50/toon/181/5</string>
		<key>imageName</key>
		<string>AAB-InitiationHumanAndSolar-1933</string>
	</dict>
	<dict>
		<key>Quote</key>
		<string>“…public confidence in our political and economic institutions is rapidly failing, as the hollowness and hypocrisy of &apos;the system&apos; is exposed. We don&apos;t need to look for scapegoats; our leaders don&apos;t seem to be aware of what is happening, but we get the leaders we deserve, so it is we who have to change. It is just that we have lost our way, as &apos;the elder brother&apos; is trying to say.” (p.13)</string>
		<key>Author</key>
		<string>Alick Bartholomew</string>
		<key>Title</key>
		<string>Crop Circles – Harbingers of World Change (1991)</string>
		<key>Link</key>
		<string>http://www.biblioteca-ga.info/50/toon/390/30</string>
		<key>Image</key>
		<string>AB-CC-HarbingersOfWorldChange</string>
	</dict>
	<dict>
		<key>Quote</key>
		<string>“Many await the future in dread, fearful that man has lost his way, that it is now too late to find the path to peace. We counsel otherwise. We know that the path to peace is simply found, needing only the creation of justice and trust. We know that sharing alone will engender that trust, and bring man to abandon both terrorism and war. Thus will it be, and thus will men respond to Maitreya’s message of Brotherhood and Justice, free at last from the glamours of fear and mistrust, ready to create the future in deed and in joy.” (p.14)</string>
		<key>Author</key>
		<string>Benjamin Creme (ed.)</string>
		<key>Title</key>
		<string>A Master Speaks, Vol.II (2017)</string>
		<key>Link</key>
		<string>http://www.biblioteca-ga.info/50/toon/387/38</string>
		<key>Image</key>
		<string>BC(ed)-MastersSpeaks-Vol.II</string>
	</dict>
	<dict>
		<key>Quote</key>
		<string>“Apart from our physical missions on Earth, all of us must hold firmly to the belief that the peoples of your Earth will themselves awaken to the disaster towards which they are moving. (…) We are also aware, as are you and many other people on your Earth, that your air forces and your governments know that our ships seen in your skies are from outer space, and that they can be made and piloted only by intelligent beings from other planets. Men high in the governments of your world have been contacted by us.” (p.99)</string>
		<key>Author</key>
		<string>George Adamski</string>
		<key>Title</key>
		<string>Inside the Space Ships (1955)</string>
		<key>Link</key>
		<string>http://www.biblioteca-ga.info/50/toon/94/28</string>
		<key>Image</key>
		<string>GA-InsideTheSpaceShips-1st</string>
	</dict>
	<dict>
		<key>Quote</key>
		<string></string>
		<key>Author</key>
		<string></string>
		<key>Title</key>
		<string></string>
		<key>Link</key>
		<string></string>
		<key>Image</key>
		<string></string>
	</dict>
	<dict>
		<key>Quote</key>
		<string></string>
		<key>Author</key>
		<string></string>
		<key>Title</key>
		<string></string>
		<key>Link</key>
		<string></string>
		<key>Image</key>
		<string></string>
	</dict>
	<dict>
		<key>Quote</key>
		<string></string>
		<key>Author</key>
		<string></string>
		<key>Title</key>
		<string></string>
		<key>Link</key>
		<string></string>
		<key>Image</key>
		<string></string>
	</dict>
	<dict>
		<key>Quote</key>
		<string></string>
		<key>Author</key>
		<string></string>
		<key>Title</key>
		<string></string>
		<key>Link</key>
		<string></string>
		<key>Image</key>
		<string></string>
	</dict>
	<dict>
		<key>Quote</key>
		<string></string>
		<key>Author</key>
		<string></string>
		<key>Title</key>
		<string></string>
		<key>Link</key>
		<string></string>
		<key>Image</key>
		<string></string>
	</dict>
	<dict>
		<key>Quote</key>
		<string></string>
		<key>Author</key>
		<string></string>
		<key>Title</key>
		<string></string>
		<key>Link</key>
		<string></string>
		<key>Image</key>
		<string></string>
	</dict>
	<dict>
		<key>Quote</key>
		<string></string>
		<key>Author</key>
		<string></string>
		<key>Title</key>
		<string></string>
		<key>Link</key>
		<string></string>
		<key>Image</key>
		<string></string>
	</dict>
	<dict>
		<key>Quote</key>
		<string></string>
		<key>Author</key>
		<string></string>
		<key>Title</key>
		<string></string>
		<key>Link</key>
		<string></string>
		<key>Image</key>
		<string></string>
	</dict>
	<dict>
		<key>Quote</key>
		<string></string>
		<key>Author</key>
		<string></string>
		<key>Title</key>
		<string></string>
		<key>Link</key>
		<string></string>
		<key>Image</key>
		<string></string>
	</dict>
	<dict>
		<key>Quote</key>
		<string></string>
		<key>Author</key>
		<string></string>
		<key>Title</key>
		<string></string>
		<key>Link</key>
		<string></string>
		<key>Image</key>
		<string></string>
	</dict>
	<dict>
		<key>Quote</key>
		<string></string>
		<key>Author</key>
		<string></string>
		<key>Title</key>
		<string></string>
		<key>Link</key>
		<string></string>
		<key>Image</key>
		<string></string>
	</dict>
	<dict>
		<key>Quote</key>
		<string>“…the necessary political decisions (…) will not be possible without a global consensus on the moral plane that the basis of any world or national order must be people and respect for their essential rights, as defined in the Universal Declaration of Human Rights. Only if these ideas are sincerely accepted by governments, and especially by individuals, will the political decisions be possible and viable. This requires an intensive process of education to bring home to public opinion in every country the vital need to defend the values without which there will be no true economic development and, above all, no justice, freedom or peace.” (p.268)</string>
		<key>Author</key>
		<string>Willy Brandt (ed.)</string>
		<key>Title</key>
		<string>North-South: A Programme for Survival (1980)</string>
		<key>Link</key>
		<string>http://www.biblioteca-ga.info/50/toon/129/11</string>
		<key>Image</key>
		<string>WB-NorthSouth-pb</string>
	</dict>
</array>
</plist>
